@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<p>Check out my Hickory-Smoked Pop Culture Podcast:</p>

<a href="https://baconsale.com/" target="_blank">
    <img src="~/img/baconsale.png" alt="Baconsale Logo" />
</a>
